name: build

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: SonarQube Scan
        uses: nirojasmar/base-workflows/.github/workflows/sonar-scan.yml@main
        with:
          project_key: "hobio"
          scanner_type: "dotnet"

      - name: Build
        run: echo "Building images..."
